html, body {
  margin: 20px;
}



.near-by-riders {
    height: 100%;
}

.rider-gravatar {
    width: 5em;
    height: 5em;
}

.near-by-rider-overlay {
    z-index: 1;
    background-color: white;
}

.rider-list.collapsed {
    display: none;
}