<div class="near-by-riders">
<h2>Riders</h2>

    <div id="near-by-rider-map"></div>
    <div class="col-xs-4 pull-right near-by-rider-overlay" id="near-by-rider-list">
        <p><span id="rider-toggle" class="pull-right">[Toggle List]</span><br/>
        </p>

        <ul id="riders-list" class="">
            {{#each}}
                <li class="well well-lg">
                    <div >
                        <img class="img-circle rider-gravatar" src="assets/bikergirl1.jpg"/>
                        {{firstName}} {{lastName}} ({{distance}}) miles)
                    </div>
                    <button class="btn btn-primary pull-right">
                        Message
                    </button>
                    <br>
                    Departure: {{formattedDeparture}}
                </li>
            {{/each}}
        </ul>
    </div>

</div>